

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.3;                   
}

h2 {
 font-size: 150%;
 color: #800000;
 padding-left: 30px;

    
}

header {
    display: flex;
    align-items: center;
}

h3 {
    font-size: 130%;
    font-style: italic;
    padding: 30px;
}


footer {
    font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

 span {
  text-shadow: 2px 2px #800000;
}