* {
 margin: 0 ;
 padding: 0;
box-sizing: border-box; 
}

main {
  display: flex;
}

section {
  width: 100%;
}

aside {
  width: 23%; 
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.3;
    width: 850px;     
    margin: auto;
    margin-bottom: 0%; 
    background-color: #fffded;
    border: solid #931420;
    border-width: 3px;
}

#articlesection {
    display: flex;
    flex-direction: row-reverse;
    
}

h2 {
 font-size: 150%;
 color: #800000;
 padding-left: 30px;
}
 main h1 {
border-top: 3px solid #931420;
border-bottom: 3px solid #931420;
 }

header {
    display: flex;
    align-items: center;
    border: 3px solid #931420; 
    padding: 1.5em 0 2em 0; 
    background-color: #fffded;
  background-image: linear-gradient(#f6bb73, white);
}

header img {
    padding: 1em;
}

main {
    padding: 2em;
}

main h1 {
    padding: .4em 0;
    border-top: 3px, solid,#931420;
    border-bottom: 3px, solid, #931420;
}

main h2 {
    padding: .5em 0 .25em 0;
}

main h3 {
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
}
 
main p {
    padding-bottom: .5em;
}

 main blockquote {
 padding: 0 2em;
 font-style: italic;
 }

main ul {
 padding: 0 0 .25em 1.25em;
}

main il {
    padding-bottom: .35em;
}


h3 {
    font-size: 130%;
    font-style: italic;
    padding: 30px;
}


footer {
    font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

 footer{
     background-color:#931420;
 }

 footer p {
    color:white;
    padding-top: 2%;
    padding-bottom: 2%;
 }

 span {
  text-shadow: 2px 2px #800000;
}

#nav_menu {
    border-bottom: 3px solid #800000;
    background-color: #800000;
}

#nav_menu ul {
    list-style: none;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: #800000;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#nav_menu a:hover {
    color: yellow;
}
